<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Hasta Ekle</title>
</head>
<body>
    <h1>Yeni Hasta Ekle</h1>
    <form method="POST">
         <label>TC Kimlik:</label><br>
    <input type="text" name="tc_kimlik" maxlength="11" required><br><br>

        <label>Ad:</label><br>
        <input type="text" name="ad" required><br><br>

        <label>Soyad:</label><br>
        <input type="text" name="soyad" required><br><br>

        <label>Servis:</label><br>
        <input type="text" name="servis" required><br><br>

        <button type="submit">Kaydet</button>
    </form>
    <br>
    <a href="{{ url_for('ana_sayfa') }}">← Geri Dön</a>
</body>
</html>
